@tailwind base;
@tailwind components;
@tailwind utilities;


.loginBackground {
    background-image: url('/images/bg/bg4.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: top center;
    min-height: 700px;
}

.loginFormBackground {
    background-color: gray;
}